################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dental_sys
/packages/Guna.UI2.WinForms.2.0.4.6
